<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>

<body>
  <h1>Pig Latinizer</h1>
  <form action="/piglatinizer" method="post">
    <input type="text" name="text_input">
    <input type="button" value="Submit">
  </form>
</body>

</html>